<ion-header>
  <ion-navbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="img-div">
    <img src="assets/icon/metomap-icon.png"/>
    <p>V{{appVersion}}</p>
  </div>
  <ion-card class="institucional">
    <ion-card-header>
      MetoMap
    </ion-card-header>
    <ion-card-content>
      <h2><strong>O jeito mais fácil de chegar ao seu destino.<br><br></strong></h2>
      <p>O aplicativo <em><strong>MetoMap</strong></em> é uma iniciativa dos estudantes dos cursos de Engenharia da Computação e Sistemas de Informação da
        Universidade Metodista de São Paulo - campos Rudge Ramos, que visa auxiliar, professores, estudantes e a comunidade na busca por informações úteis e pontos de interesse de maneira mais rápida e precisa.<br><br>
        O aplicativo funciona sem a necessidade de conexão com internet nem acionamento de GPS para cálculo de rotas.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="social-medias">
    <ion-card-header>
      Redes Sociais
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <div *ngFor="let media of socialMediasInfo" class="img-social">
            <button detail-none ion-item no-lines
                    *ngIf="['facebook','youtube','instagram','vimeo'].includes(media?.name)"
                    (click)="openLink(media?.linkUrl)">
              <img src="{{media?.img}}">
            </button>
          </div>
        </ion-col>
        <ion-col col-6>
          <div *ngFor="let media of socialMediasInfo" class="img-social">
            <button detail-none ion-item no-lines *ngIf="['twitter','flickr','linkedin'].includes(media?.name)"
                    (click)="openLink(media?.linkUrl)">
              <img src="{{media?.img}}">
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="app-creators">
    <ion-card-header>
      Criadores
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let creator of appCreatorsInfo">
        <ion-avatar item-left>
          <img src="{{creator?.img}}">
        </ion-avatar>
        <h3>{{creator?.name}}</h3>
        <ion-row>
          <ion-col>
            <p *ngIf="creator?.socialNetworks.website">
              <ion-icon name="contact"></ion-icon>
              {{creator?.socialNetworks.website}}
            </p>
            <p *ngIf="creator?.socialNetworks.linkedin">
              <ion-icon name="logo-linkedin"></ion-icon>
              {{creator?.socialNetworks.linkedin}}
            </p>
            <p *ngIf="creator?.socialNetworks.github">
              <ion-icon name="logo-github"></ion-icon>
              {{creator?.socialNetworks.github}}
            </p>
            <p *ngIf="creator?.socialNetworks.twitter">
              <ion-icon name="logo-twitter"></ion-icon>
              {{creator?.socialNetworks.twitter}}
            </p>
            <p *ngIf="creator?.socialNetworks.googleplus">
              <ion-icon name="logo-googleplus"></ion-icon>
              {{creator?.socialNetworks.googleplus}}
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
