page-about {
  .img-div {
    img {
      margin-top: 5%;
      height: 30%;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    p {
      color: grey;
      width: 15%;
      font-size: 100%;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  .institucional {
    ion-card-content {
      p {
        font-size: 100%;
      }
    }
  }
  .social-medias {
    ion-card-content {
      ion-row {
        ion-col {
          button {
            padding-left: 5px;
            margin-top: 20%;
            margin-bottom: 20%;

            ion-label {
              min-height: 100%;
              min-width: 100%;

              img {
                width: 100%;
                height: 100%;
                margin-left: auto !important;
                margin-right: auto !important;
              }
            }
          }

          button.activated {
            background-color: transparent;
          }
        }
      }
    }
  }
  .app-creators {
    ion-card-content {
      ion-item {
        padding-left: 10px;
        ion-avatar {
          margin-right: 4px !important;
          img {
            width: 90% !important;
            height: 90% !important;
            max-width: 50px !important; //any size
            max-height: 50px !important; //any size
          }
        }
        h3 {
          font-size: 100%;
        }
        p {
          font-size: 78%;
        }
      }
    }
  }
  .img-social {
    button {
      img {
        max-width: 30%;
        max-height: 30%;
      }
    }

  }
}
