page-home {
  .img-div {
    img {
      margin-top: 10%;
      height: 50%;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  .button-div {
    button {
      background-color: #2a5181;
      width: 60%;
      font-weight: bold;
      margin-top: 15%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    button.activated {
      background-color: #27456c;
    }
  }
  .item-div {
    ion-item {
      margin-left: auto;
      margin-right: auto;
      max-width: 85% !important;

      ion-select {
        font-size: 90%;
        margin-left: auto;
        margin-right: auto;
        min-width: 80% !important;
      }

      ion-label {
        font-size: 100%;
        color: grey;
        font-weight: bold;
      }
    }
  }
}
