page-home {
  .img-div {
    img {
      height: 50%;
      width: 50%;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  .button-div {
    button {
      width: 60%;
      font-weight: bold;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  .item-div {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;

    ion-item {
      img {
        height: 9%;
        width: 9%;
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      ion-label {
        font-size: 100%;
        color: grey;
        font-weight: 500;
      }
    }
  }
}
