page-home {
  .img-div {
    img {
      height: 50%;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  .button-div {
    button {
      background-color: #2a5181;
      width: 60%;
      font-weight: bold;
      margin-top: 20%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    button.activated {
      background-color: #27456c;
    }
  }
  .item-div {
    margin-top: 5%;
    ion-item {
      ion-select {
        font-weight: bold;
        font-size: 80%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        background-color: #e9eaec;
        min-width: 100% !important;
      }
    }
  }
}
