<ion-header>
  <ion-navbar>
    <ion-title>Mapa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="img-div">
    <img src="assets/icon/metomap-icon.png"/>
  </div>
  <div class="item-div">
    <ion-item>
      <ion-label floating>Origem</ion-label>
      <ion-select [(ngModel)]="fromBuilding" cancelText="Cancelar" [selectOptions]="fromOpts"
                  (ionChange)="buildingsSelected()">
        <ion-option *ngFor="let building of buildings" [value]="building?.key">{{building?.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Destino</ion-label>
      <ion-select [(ngModel)]="toBuilding" cancelText="Cancelar" [selectOptions]="toOpts"
                  (ionChange)="buildingsSelected()">
        <ion-option *ngFor="let building of buildings" [value]="building?.key">{{building?.name}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="button-div">
    <button ion-button round (click)="onViewMap()" [disabled]="isButtonDisabled">
      Traçar Rota
    </button>
  </div>
</ion-content>

